.top-cart {
    background-image: url(../images/cart/cart-top-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.top-cart__h1 {
    color: $colorText;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    margin-top: 127px;
}

.cart {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 64px;

    &__content {
        grid-column: span 8;
    }

    &__name-box {
        display: flex;
        justify-content: space-around;
        padding-bottom: 14px;
        column-gap: 590px;
    }

    &__item {
        align-items: flex-start;
        border-top: 0.5px solid #CACDD8;
        display: flex;
        justify-content: space-between;
        padding: 25px 0 32px;
    }

    &__left {
        display: flex;
        gap: 32px;
    }

    &__image {
        align-self: flex-start;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 14px;
        width: 276px;
    }

    &__prod-link {
        text-decoration: $noUnderline;
        &:hover {
            text-decoration: $textDecorationFavorite;
        }
    }

    &__zag {
        color: $colorZag;
        font-size: $fontSizeZag;
        font-style: $fontStyleZag;
        font-weight: $fontWeightZag;
        line-height: $lineHeightZag;
    }

    &__opis {
        color: $colorCartOpis;
        font-size: $fontSizeCartOpis;
        font-style: $fontStyleZag;
        font-weight: $fontWeightCartOpis;
        line-height: $lineHeightZag;
    }

    &__price {
        color: $colorCartPrice;
        font-size: $fontSizeCartPrice;
        font-style: $fontStyleZag;
        font-weight: $fontWeightZag;
        line-height: $lineHeightZag;
    }

    &__link-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 30px;

        &_favorite, &_delete {
            color: $colorZag;
            font-size: $fontSizeCartOpis;
            font-style: $fontStyleZag;
            font-weight: $fontWeightCartOpis;
            line-height: $lineHeightFavorite;
            text-decoration: $textDecorationFavorite;
        }
    }

    &__buttons {
        margin-top: 18px;
    }

    &__button {
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 50px;
        border: 1px solid $colorZag;
        color: #020202;
        text-align: $textAlignCenter;
        font-family: inherit;
        font-size: $fontSizeCartOpis;
        font-style: $fontStyleZag;
        font-weight: $fontWeightCartOpis;
        line-height: $lineHeightZag;
        height: 37px;
        width: 200px;

        &:hover {
            background-color: #000;
            color: #fff;
        }

        &_continue {
            margin-left: 7px;
        }
    }
    
    &__form {
        background-color: #F7F6F6;
        border-radius: 25px;
        grid-column: span 4;
        height: 556px;
    }
}

.count {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;

    &__number {
        background: #F7F6F6;
        border: none;
        border-radius: 6px;
        width: 47px;
        height: 27px;
        padding: 12px 24px 12px 0;
        color: $colorZag;
        text-align: $textAlignCenter;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: $lineHeightFavorite;
        grid-template-rows: span 2;
    }

    &__arrow-up, &__arrow-down {
        position: relative;
        right: -0.2em;
    }

    &__arrow-up {
        top: -2.6em;
    }

    &__arrow-down {
        top: -2.7em;
        rotate: 180deg;
    }
}

.cart__form {
    transition: all 1.3s;
    height: 548px;
}

.form__end-oform {
    background-color: #F7F6F6;
    border-radius: 20px;
    border: 1px solid #040404;
    color: #000;
    display: block;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 18px auto 0;
    height: 41px;
    width: 290px;
}

.cart__form:hover {
    margin-top: -1px;
    border: 1px solid #888;
}

.cart__form:hover .form__end-oform {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}

.form__end-oform:hover {
    color: #fff;
    background-color: #000;
    transition: 1.3s;
}

.form__end-oform:not(:hover) {
    color: #000;
    background-color: #F7F6F6;
    transition: 1.3s;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-20 18:16:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }

.cart__zag-form {
    color: $colorZag;
    text-align: $textAlignCenter;
    font-family: Poppins;
    font-size: $fontSizeZag;
    font-style: $fontStyleZag;
    font-weight: 600;
    line-height: $lineHeightZag;
    margin-top: 42px;
}

.form__name {
    margin-top: 35px;
}

.form__tel, .form__address {
    margin-top: 44px;
}

.form__result {
    color: $colorZag;
    text-align: $textAlignCenter;
    font-size: $fontSizeZag;
    font-style: $fontStyleZag;
    font-weight: $fontWeightCartOpis;
    line-height: $lineHeightZag;
    margin-top: 64px;
}

.form__result_span {
    color: $colorZag;
    font-size: $fontSizeZag;
    font-style: $fontStyleZag;
    font-weight: $fontWeightZag;
    line-height: $lineHeightZag;
}

.form__input_text {
    background-color: #F7F6F6;
    border: none;
    border-bottom: 1px solid #CACDD8;
    color: $colorZag;
    font-size: $fontSizeCartOpis;
    font-style: $fontStyleZag;
    font-weight: $fontWeightCartOpis;
    line-height: $lineHeightZag;
    margin-left: 28px;
    width: 288px;
}

.form__end-oform:active~ .form__thank-you {
    display: table;
}

.form__thank-you {
    display: none;
    font-size: 150%;
    margin: 30px auto 0;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #00f;
    border-radius: 20px;
    background-color: #0f0;
}