@media (min-width: 651px) and (max-width: 768px) {
    .top-cart {
        background-position: -24.5em 0;
    }
}

@media (min-width: 385px) and (max-width: 650px) {
    .top-cart {
        background-position: -49.5em 0;
    }
}

@media (max-width: 768px) {
    .center {
        padding-left: $fontSizeCartPrice;
        padding-right: $fontSizeCartPrice;
    }

    .header {
        padding-top: $gap;
        border: none;
        &__input {
            display: none;
        }
    }

    .catalog__top {
        background-position: -290px 0;
    }

    .topmenu {
        display: none;
    }

    .logo {
        &__image {
            width: 99px;
        }
    }

    .menu-mob {
        display: flex;
        align-items: center;
        gap: $gap;
    }

    .top__content {
        text-align: center;
    }

    .title {
        font-size: 48px;
        line-height: 59px;
    }

    .top__content p {
        font-size: $fontSizeCartPrice;
        line-height: $gap;
    }

    .link {
        font-size: $fontSizeCartOpis;
    }

    .for__item {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .product {
        width: 100%;
    }

    .icons {
        margin-right: 10px;
        width: 100%;
    }

    .product__img {
        position: relative;
    }

    .sorting-select {
        margin-top: $fontSizeCartPrice;
    }

    .top__h1 {
        margin-top: 82px;
        text-align: center;
    }

    .cart__content__item {
        padding: 18px 0 24px 0;
    }

    .cart__item__left img {
        display: none;
    }

    .cart__content__zag {
        font-size: 18px;
    }

    .cart__item__number {
        padding: 10px 20px 10px 0;
    }

    .count__arrow_up, .count__arrow_down {
        right: -0.5em;
    }

    .count__arrow_up {
       top: -2.4em;
    }

    .cart__buttons form {
        align-items: center;
        column-gap: 14px;
        display: inline-flex;
        justify-content: center;
    }

    .buttons {
        background-color: #fff;
        color: #020202;
        padding: 11px 0px 11px 6px;
        font-size: 12px;
        height: 37px;
        width: 166px;
    }

    .cart__opis, .cart__price {
       font-size: 12px;
    }

    .cart__form {
        display: flex;
        margin-top: 16px;
        grid-column: span 12;
        flex-direction: column;
        align-items: center;
    }

    .for-box, .product__box {
       margin-top: $gap;
    }

    .cart__prod__box__mobile {
        margin-top: 48px;
    }

    .zag {
       font-size: 24px;
       line-height: 29px;
    }

    .for {
        grid-template-columns: repeat(4, 1fr);
        gap: $fontSizeCartPrice;
        &__item {
            font-size: 28px;
            line-height: 34px;
            grid-column: 1 / -1;
            height: 375px;
            &_big {
                height: 244px;
            }
        }
    }

    .product__content {
        margin-bottom: 36px;
        row-gap: $gap;
    }

    .product__img {
        height: 225px;
    }

    .product__name {
        font-size: $fs18px;
    }

    .price, .old__price {
        font-size: $fs18px;
    }

    .icons, .icons-catalog, .cart__icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 10px;
        margin-right: 10px;
    }

    .icons img, .icons-catalog img, .cart__icons img {
        top: -215px;
    }

    .cart__img, .cart__img_catalog, .cart-page__cart-img {
       right:0%;
    }

    .cart__img_catalog, .cart-page__cart-img {
        margin-right: 10px;
    }

    .like__img, .like__img_catalog, .cart-page__like-img {
        right: 0%;
    }

    .footer {
        margin-top: $gap;
        justify-content: center;
    }

    .footer__box__menu {
        gap: 100px;
    }

    .footer__subscribe {
        margin: $gap auto;
    }

    .footer__subscribe form {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 607px) {
    .footer__subscribe {
        max-width: 268px;
    }
}

@media (min-width: 220px) and (max-width: 768px) {
    .icons {
        right: 6%;
    }
    
    .icons img {
        top: -13.5em;
    }
}