$colorText: #ffffff;
$widthSite: 1200px;
$gap: 32px;
$textAlignCenter: center;

$colorZag: #000;
$fontSizeZag: 24px;
$fontStyleZag: normal;
$fontWeightZag: 500;
$lineHeightZag: normal;

$colorCartOpis: #888;
$fontSizeCartOpis: 14px;
$fontWeightCartOpis: 400;

$colorCartPrice: #050505;
$fontSizeCartPrice: 16px;

$lineHeightFavorite: 210%;
$textDecorationFavorite: underline;

$noUnderline: none;

$fs18px: 18px;